{% extends '../base.html' %}

{% block title %}Chat Room{% endblock %}

{% block content %}
<div class="card grey lighten-3 chat-room">
    <div class="card-body">

        <!-- Grid row -->
        <div class="row px-lg-2 px-2">

            <!-- Grid column -->
            <div class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0">

                <div class="chat-message overflow-auto" style="height: 60vh;">

                    <ul class="list-unstyled chat" id="chat-log">

                    </ul>
                </div>
                <div class="form-group basic-textarea">
                    <textarea class="form-control pl-2 my-0" id="chat-message-input" rows="3"
                        placeholder="Type your message here..."></textarea>
                </div>
                <button type="button" id="chat-message-submit"
                    class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right">Send</button>
            </div>
        </div>
    </div>
</div>


</body>
<script>
    //store the room name
    var roomName = {{ room_name_json }};
    var name = {{ name }}
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var chatSocket = new WebSocket(
        ws_scheme + "://" + window.location.host +
        '/ws/chat/' + roomName + '/');
    //Listener1 - takes the message and add to the chat log text area with a 
    //new line 
    chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data);
        let message = data['message'];
        let otherName = data['name'];
        if (otherName != name) {
            document.title = "New Message from " + otherName;
            setTimeout(() => {
                document.title = roomName;
            }, 5000);
        }
        let whichSide = otherName != name ? "justify-content-start" : "justify-content-end";
        let string = [
            `<li class="d-flex ${whichSide}">`,
            `<div class="chat-body white p-2 ml-2 z-depth-1">`,
            `<div class="header">`,
            `<strong class="primary-font">${otherName}</strong>`,
            `<small title="${moment(Date())}"class="pull-right text-muted chat-time"><i class="far fa-clock">0 seconds ago</i></small>`,
            "</div>",
            `<p class="mb-0 text-left">${message}</p>`,
            "</div>",
            "</li>",
        ].join("\n");
        let element = $(string);
        $('#chat-log').append(element);
    };
    //Listener1 - Console error on close 
    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };
    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) { // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
    setInterval(function() {
        let els = $('.chat-time');
        els.each((index, el) => {
            let time = el.title;
            let momentObj = moment(time);
            let elapsed = momentObj.fromNow();
            el.innerText = elapsed;
        });
    }, 10000);
    //Listener3 - Take what is entered in the message area and send to chat 
    //socket and then reset the value 
    document.querySelector('#chat-message-submit').onclick = function (e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'name': name
        }));
        messageInputDom.value = '';
    };
</script>

{% endblock %}