{% extends 'base.html' %}

{% block content %}

<h1>My Appointments</h1>
<div style="padding-bottom: 30px"></div>

{% if user.is_authenticated %}

    {% for appointment in appointments %}

        <div class="card">
            <h5 class="card-header">Appointment with {{appointment.provider}}</h5>
            <div class="card-body">
              <p class="card-text">Date:  {{ appointment.date_time }}</p>
              <p class="card-text">Duration:  {{ appointment.duration }}</p>
              <p class="card-text">Note:  {{ appointment.note }}</p>

              <a href="#" class="btn btn-primary">Start Appointment</a>
            </div>
        </div>

    {% endfor %}

{% endif %}


{% endblock %}