{% extends 'base.html' %}

{% block content %}

<h1>All Patient Prescriptions</h1>
<div style="padding-bottom:40px"></div>


{% if user.is_authenticated %}

    {% for patient in user.provider.patients.all %}

    <div class="card m-3">
        <div class="card-body">
            <h3 class="card-title">Patient: {{patient.user.first_name}} {{patient.user.last_name}}</h3>
            <p class="card-text">Allergies:  {{ patient.allergies }}</p>
            <a href="{% url 'add_prescription' %}" class="btn btn-primary">Add prescription</a>
        </div>


        {% for prescription in patient.prescriptions.all %}

            <div class="card w-50" style="margin: 20px">
                <div class="card-body">
                    <h3 class="card-title">{{ prescription.medication.name }}</h3>
                    <h6 class="card-subtitle mb-2 text-muted" style="padding-bottom:10px">Date Prescribed:
                        {{ prescription.date_prescribed }}</h6>
                    <p class="card-text">Valid Through: {{ prescription.expiration }}</p>
                    <p class="card-text">Dose: {{ prescription.dose }}</p>
                    <a href="{% url 'delete_prescription' prescription.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>

        {% endfor %}


    </div>



    {% endfor %}

{% endif %}


{% endblock %}